{% extends 'main.html' %}
{% load custom_tags %}

{% block content %}
    {% if context %}

        <div class="d-flex mt-2 border-bottom text-center">
            <p class="w-25"><b>{{ _("Dish") }}</b></p>
            <p class="w-25"><b>{{ _("Count") }}</b></p>
            <p class="w-25"><b>{{ _("Per price")}}</b></p>
            <p class="w-25"><b>{{ _("Total price")}}</b></p>
        </div>
        {% for item in context %}
            <div class="d-flex mt-3 text-center">
                <p class="w-25">{{ item.dish }}</p>
                <p class="w-25">{{ item.count }}</p>
                <p class="w-25">{{ item.dish.price }}</p>
                <p class="w-25">{% multiply item.dish.price item.count %}</p>
            </div>
        {% endfor %}
        <div class="border-top d-flex justify-content-end">
            <i class="my-4">{% total_price context %} {{ _("rub") }}</i>
        </div>
        <form action="" method="POST" class="border-top d-flex justify-content-end">
            {% csrf_token %}
            <button type="submit" class="btn btn-success mt-3">{{ _("Confirm order")}}</button>
        </form>
    {% else %}
        <h2>{{ _("Your cart is empty")}}</h2>
    {% endif %}
{% endblock %}