{% extends 'main.html' %}
{% load custom_tags %}

{% block content %}
    <aside class="d-flex justify-content-between">
        <a class="text-decoration-none mt-3" href="{% url 'food-page'%}">{{ _("Food") }}</a>
        <a class="text-decoration-none mt-3" href="{% url 'drink-page'%}">{{ _("Drinks") }}</a>
        <a class="text-decoration-none mt-3" href="{% url 'dessert-page'%}">{{ _("Desserts") }}</a>
        <a class="text-decoration-none mt-3" href="{% url 'sauce-page'%}">{{ _("Sauces") }}</a>
        <a class="text-decoration-none mt-3" href="{% url 'boxmix-page'%}">{{ _("BoxMix") }}</a>
    </aside>
    <section class="h-100 d-flex flex-wrap text-center mt-3 py-5">
     {% for element in data %}
            <form style="max-height: 300px; height: 100%" action="{% url 'cart-add' element.id %}" method="post" class="col-3 border border-dark rounded d-flex flex-column justify-content-between">
                {% csrf_token %}
                <h2>
                    <a href="{% redirect_to_dish_detail_url element|get_class_name element.id %}" class="text-decoration-none">{{ element.name }}</a><br>
                </h2>
                <div style="overflow:hidden"
                     class="mx-3 flex-grow-1">
                    {{ element.description }}
                </div>
                {{ element.price }}<br>
                {% if user.is_authenticated and element.on_stop is False%}
                <div>
                        {{ form.count }}
                        <button type="submit" class="btn btn-success my-2">{{ _("Add to cart")}}</button>
                </div>
                {% endif %}
            </form>

        {% endfor %}
    </section>
{% endblock %}