{% extends 'main.html' %}
{% load i18n %}

{% block header %}{% endblock %}

{% block content %}

    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh">
        {% if not user.is_authenticated %}
        <form action="." method="post" class="text-center shadow-lg border border-dark py-5 rounded col-5">
            {% csrf_token %}
            <h2 class="mb-4">Login</h2>
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Enter</button>
        </form>
        {% else %}
            <div>
                <h2>Вы аутентифицированы</h2>
                <p class="d-flex justify-content-around">
                    <a href="{% url 'food-page' %}">На главную</a>
                    <a href="{% url 'logout' %}">Выйти</a>
                </p>
            </div>
        {% endif %}
    </div>



{% endblock %}