{% extends 'main.html' %}

{% block content %}
    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh">
        <form action="." method="post" class="col-5 border text-center border-dark rounded py-4">
            <h2>{{ _("Change Password")}}</h2>
            {% for field in form %}
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                    {% for error in field.errors %}
                        <li class="text-danger" style="list-style-type: none">{{ error }}</li>
                    {% endfor %}
                </div>
            {% endfor %}
        <button type="submit" class="btn btn-success">{{ _("Change") }}</button>
        </form>
    </div>
{% endblock %}