{% extends 'main.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="col-4 border border-dark rounded py-4 d-flex justify-content-center">
            <div class="col-10">
                <h2 class="d-flex justify-content-center pb-3">USER PROFILE</h2>

                <p>Email: {{ user }}</p>
                <p>First name: {{ user.first_name }}</p>
                <p>Last name: {{ user.last_name }}</p>
                <p>Phone: {{ user.profile.phone }}</p>
                <p>Birth day: {{ user.profile.birth_day }}</p>
                <p>Region: {{ user.profile.region }}</p>
                <a href="{% url 'profile-change' %}" class="btn btn-primary">Change Profile</a>
            </div>
        </div>
    </div>
{% endblock %}