{% extends 'main.html' %}
{% load i18n %}

{% block title %}Registration{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh">
        <form action="{% url 'registration' %}" method="post" class="text-center shadow-lg border border-dark py-5 rounded col-6">
            {% csrf_token %}
            <h3 class="pb-3">{{ _("Registration Form")}}</h3>
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                    {% for error in field.errors %}
                        <li class="text-danger" style="list-style-type: none">{{ error }}</li>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">{{ _("Submit") }}</button>
        </form>
    </div>

{% endblock %}